from .observer import JSObserver, MultiplexingObserver, ProgressBarObserver
import time


worlds["main"] = "/home/minzkraut/minecraft/world"
outputdir = "/home/minzkraut/minecraft/overviewer"

observer = MultiplexingObserver(JSObserver(outputdir, 1), ProgressBarObserver())

def playerIcons(poi):
    if poi['id'] == 'Player':
        poi['icon'] = "https://overviewer.org/avatar/%s" % poi['EntityId']
        return "Last known location for %s" % poi['EntityId']

def signFilter(poi):
    if poi['id'] == 'Sign' or poi['id'] == 'minecraft:sign':
        return "\n".join([poi['Text1'], poi['Text2'], poi['Text3'], poi['Text4']])

renders["mainday"] = {
    "world": "main",
    "title": "Daytime",
    "rendermode": smooth_lighting,
    "dimension": "overworld",
    "northdirection": "lower-left",
    "markers": [dict(name="Last seen", filterFunction=playerIcons),
                dict(name="Signs", filterFunction=signFilter)],
}

renders["mainnight"] = {
    "world": "main",
    "title": "Nighttime",
    "rendermode": smooth_night,
    "dimension": "overworld",
    "northdirection": "lower-left"
}


bgcolor = "#2c3e50"
defaultzoom = 8
minzoom = -2
showlocationmarker = False
