from .observer import JSObserver, MultiplexingObserver, ProgressBarObserver
import time


worlds["main"] = "/home/minzkraut/minecraft/world"
outputdir = "/home/minzkraut/minecraft/overviewer"

observer = MultiplexingObserver(JSObserver(outputdir, 1), ProgressBarObserver())

def chestFilter(poi):
    if poi['id'] == 'minecraft:chest':
        items = poi.get('Items')
        if items:
            items = '<br>'.join("{count} x {name}".format(name=item['id'][10:].replace('_', ' '), count=item['Count']) for item in items)
            ret_str = "{} items \r\n<br> {}".format(len(poi.get('Items')), items)
            return ret_str

def debugFilter(poi):
    return poi['id'] + "\n\n" + str(poi)

def playerIcons(poi):
    if poi['id'] == 'Player':
        poi['icon'] = "https://overviewer.org/avatar/%s" % poi['EntityId']
        return "Last known location for %s" % poi['EntityId']

def signFilter(poi):
    if poi['id'] == 'Sign' or poi['id'] == 'minecraft:sign':
        if poi['Text4'] != '-':
            return "\n".join([poi['Text1'], poi['Text2'], poi['Text3'], poi['Text4']])

def locationFilter(poi):
    iconMap = { 
        '19572186':'icons/custom/house.png' 
    }
    if poi['id'] == 'Sign' or poi['id'] == 'minecraft:sign':
        print("{} -> {} {} {} {}".format(poi['id'][10:], poi['Text1'],poi['Text2'],poi['Text3'],poi['Text4']))
        if poi['Text4'] == '-':
            poi['icon'] = iconMap.get(poi['x']+poi['y']+poi['z'], 'signpost.png')
            return "\n".join([poi['Text2'], poi['Text3']])

markerDict = [dict(name="Last seen", filterFunction=playerIcons, checked=True),
                dict(name="Locations", filterFunction=locationFilter, icon='icons/custom/marker.png'),
                dict(name="Signs", filterFunction=signFilter),
                dict(name="Chests", filterFunction=chestFilter, icon='icons/custom/chest.png'),
                dict(name="Debug", filterFunction=debugFilter, icon='icons/custom/debug.png')]

renders["mainday"] = {
    "world": "main",
    "title": "Daytime",
    "rendermode": smooth_lighting,
    "dimension": "overworld",
    "northdirection": "lower-left",
    "markers": markerDict,
}

renders["mainnight"] = {
    "world": "main",
    "title": "Nighttime",
    "rendermode": smooth_night,
    "dimension": "overworld",
    "northdirection": "lower-left"
}

renders["maincaves"] = {
    "world": "main",
    "title": "Caves",
    "rendermode": cave,
    "dimension": "overworld",
    "northdirection": "lower-left",
}

bgcolor = "#2c3e50"
defaultzoom = 8
minzoom = -2
showlocationmarker = False
